{% extends "base.html" %}
{% block title %}ADD TASK{% endblock %}
{% block content %}
<style>
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0 auto;
    padding: 40px;
  }

  form input[type="text"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
  }

  form input[type="text"]::placeholder,
  form textarea::placeholder {
    color: #bbb;
  }


  form button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0070f3;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
  }
</style>


<div class="box">
   <form method="post">
      {% csrf_token %}
      <input type="text" name="title" placeholder="Task title">
      <textarea name="description" placeholder="Task description" rows="5" style="resize: none;"></textarea>
      <button type="submit">Add Task</button>
  </form>
</div>
{% endblock %}