<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://css.gg/css' rel='stylesheet'>
    <link href='https://unpkg.com/css.gg/icons/all.css' rel='stylesheet'>
    <link href='https://cdn.jsdelivr.net/npm/css.gg/icons/all.css' rel='stylesheet'>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <div class="bg">
        <ul class="glass">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
<div>{% block content %}{% endblock %}</div>

    {% if user.is_authenticated %}
    <div class="menu">
            <button class="button5" onclick="location.href='{% url 'index' %}'"><i class="gg-home"></i></button>
            <button class="button5" onclick="location.href='{% url 'lists' %}'">
            <i class="gg-notes"></i>
            </button>
            <a href="{% url 'add_list' %}">
                <button class="button5">
                    <i class="gg-add">
                    </i>
                </button></a>
            <button class="button5" onclick="location.href='{% url 'profile' %}'"><i class="gg-user"></i></button>
            <a href="{% url 'logout' %}">
                <button class="button5"><i class="gg-log-out align-middle">
                </i></button></a>
        </div>
    {% endif %}
</body>
</html>