{% extends "base.html" %}
{% block title %}MY LIST{% endblock %}
{% block content %}
<style>

</style>
<div class="box">
    <h2>My To Do Lists</h2>
    <ul>
    {% for todo_list in todo_lists %}
        <hr>
        <li class="todo-item">
            <a class="button9" href="{% url 'list' todo_list.id %}"><h4>{{ todo_list.title }}</h4></a>
            <a href="{% url 'delete_list' todo_list.id %}" onclick="return confirm('Are you sure you want to delete this item?');" style="margin-left: auto;">
                <button class="button5">
                    <i class="gg-trash"></i>
                </button></a>
        </li>

    {% endfor %}
    </ul>
</div>
{% endblock %}
