{% extends "base.html" %}

{% block content %}
<style>
  .box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.3);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
</style>
    <div class="box">
        <h2>ToDo Lists</h2>
        <ul>
        {% for todo_list in todo_lists %}
            <hr>
            <li><a href="{% url 'list' todo_list.id %}">{{ todo_list.title }}</a></li>
            <a href="{% url 'delete_list' todo_list.id %}">Delete</a>

        {% endfor %}
        </ul>
        <a href="{% url 'add_list' %}">Add List</a>
    </div>
{% endblock %}