{% extends "base.html" %}
{% block title %}MY LIST{% endblock %}
{% block content %}
<style>
  .menu-box h2 {
    margin: 0 0 30px;
    padding: 2;
    color: #fff;
    text-align: center;
}
.menu-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.menu-box .user-box label {
    position: static;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.button {
    border: none;
    background: rgba(247, 247, 247, 0.245);
    box-sizing: border-box;
    border-radius: 60px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10px 1px ;
    cursor: pointer;
}
.menu-box{
position: absolute;
top: 50%;
left: 50%;
width: 400px;
padding: 40px;
transform: translate(-50%,-50%);
background: rgba(0,0,0,.3);
box-sizing: border-box;
box-shadow: 0 15px 25px rgba(0,0,0,.6);
border-radius: 10px;
}
</style>

<form method="POST" enctype="multipart/form-data">
<div class="menu-box">
    <h1>To change password</h1>
    {% csrf_token %}
        <div class="user-box">
        <div class="form-group">
            <label class="user-box label" for="id_old_password">Current password:</label>
            <input type="password" class="form-control" id="id_old_password" name="old_password">
        </div>
        <div class="form-group">
            <label for="id_new_password1">New password:</label>
            <input type="password" class="form-control" id="id_new_password1" name="new_password1">
        </div>
        <div class="form-group">
            <label for="id_new_password2">Confirm new password:</label>
            <input type="password" class="form-control" id="id_new_password2" name="new_password2">
        </div>
        <div class="form-group">
            <button class="button" type="submit" name="change_password">Change password</button>
        </div>
    </div>
    </div>
</form>
{% endblock %}