{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}

  <div class="register-box">
    <form method="post">
    {% csrf_token %}
    <div class="user-box input">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" value="{{ form.username.value }}" required>
    </div>
    <div class="user-box input">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ form.email.value }}" required>
    </div>
    <div class="user-box input">
        <label for="password1">Password:</label>
        <input type="password" class="form-control" id="password1" name="password1" required>
    </div>
    <div class="user-box input">
        <label for="password2">Confirm Password:</label>
        <input type="password" class="form-control" id="password2" name="password2" required>
    </div>
    <button class='button' type="submit"><h5>Sign up</h5></button>
  </form>
  </div>

{% endblock %}