{% extends "base.html" %}
{% block content %}
<style>
.register-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.3);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
.register-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.register-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.register-box .user-box label {
    position: static;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.button {
    border: none;
    background: rgba(247, 247, 247, 0.245);
    box-sizing: border-box;
    border-radius: 60px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin: 10px 1px ;
    cursor: pointer;
}

</style>
{% block content %}
  <div class="register-box">
    <form method="post">
    {% csrf_token %}
    <div class="user-box input">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" name="username" value="{{ form.username.value }}" required>
    </div>
    <div class="user-box input">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ form.email.value }}" required>
    </div>
    <div class="user-box input">
        <label for="password1">Password:</label>
        <input type="password" class="form-control" id="password1" name="password1" required>
    </div>
    <div class="user-box input">
        <label for="password2">Confirm Password:</label>
        <input type="password" class="form-control" id="password2" name="password2" required>
    </div>
    <button class='button' type="submit"><h5>Sign up</h5></button>
  </form>
  </div>

{% endblock %}